<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PortalEntities" connectionString="metadata=res://*/Assets.Scripts.Model.Memoria.csdl|res://*/Assets.Scripts.Model.Memoria.ssdl|res://*/Assets.Scripts.Model.Memoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=avell;initial catalog=Portal;user id=sa;password=15974;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>